/* Global =============== */

/* Container =============== */
.container {
    width: 95%;
    margin: auto;
    text-align: center;
    font-family: Arial;
    font-size: 3vw;
}

/* Calculator =============== */
.calculator {
    border: 1px solid blue;
    border-radius: 10px;
    width: 50%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 3%;
    padding: 5%;
}

/* Output =============== */
.output {
    border: 1px solid blue;
    border-radius: 5px;
    text-align: right;
    padding: 5px;
    line-height: 2em;
}

/* Buttons =============== */
.buttons {
    padding-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.button {
    border: 1px solid blue;
    border-radius: 2px;
    width: 20%;
    margin-bottom: 2%;
    line-height: 2em;
}

#clear {
    width: 47%;
}
